/* general style */
body {
  background: rgb(73,155,234);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  color: rgb(26, 59, 112);
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(26, 59, 112);
}
h2{
  margin: auto;
  color: rgb(120, 120, 140);
  text-decoration: underline;
  text-align: center;
}
ul li {
    display:inline;
}
#symbol{
  font-size: 20rem;
  position: absolute;
  margin: 0;
  padding: 0;
  color: rgba(26, 59, 112, 0.5);
  z-index: 0;
}

main {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background: rgb(230, 230, 230);
  border-radius: 8px;
  box-shadow: 0 0 40px -10px rgb(0, 0, 0);
}

form {
  text-align: center;
}
div {
  margin: 10px auto;
}

.subtext{
  font-size: 0.75rem;
}
.variableStyle {
  font-size: 1.5rem;
}
/* button styles */
.button {
  border-radius: 4px;
  background-color: rgb(244, 81, 30);
  border: none;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  width: 100px;
  height: auto;
  margin: auto;
  box-shadow: 5px 10px rgba(0,0,0,0.3);
}
.error{
  font-size:  2rem;
  margin: auto;
}

/*form styles */
input[type=text], select {
  width: 300px;
  padding: 10px;
  margin:auto;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=text]:focus {
    border: 3px solid rgb(85, 85, 85);
}
input:invalid {
  background-color: rgb(188, 210, 251);
}

select {
    border: none;
    background-color: rgb(241, 241, 241);
}

/* responsive */
@media screen and (max-width: 600px) {

  main {
    margin: auto;
    width: auto;
    padding: 5px;
    background: rgb(230, 230, 230);
    box-shadow: none;
    border-radius: 0;
  }
  #symbol{
    display: none;
  }
  .button {
    border-radius: 4px;
    background-color: rgb(244, 81, 30);
    border: none;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    width: 100px;
    height: auto;
    margin: auto;
    box-shadow: none;
  }
} /* end responsive*/
