/* Logo */

.logo {
  float: left;
  font-family: 'Arial';
  padding: 0.5em;
  max-width: 500px;
  height: auto;
}

.logo img {
    max-width: 40%;
    height: auto;
    padding: 1em;
}

.logo h1 {
  font-size: 2em;
}

.logo h3 {
  font-size: 1em;
}

.logotitle {float: right;}

/* Logo */