/* Start General */
html, body{
	margin: 0;
	margin-bottom: -30px;
	font-family: 'Archivo', sans-serif;
	color: #454545;
	background-color: #fff;
}

/* Start Links */

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #fff;
}

/* End Links */

/* End General */

/* Start Container */


.contactGraphic {
	background-image: url(../img/contact.jpg);
	   background-size: 100%;
	width: 300px;
	height: auto;
}

.aboutGraphic {
	background-image: url(../img/about.gif);
}

.aboutGraphic, .contactGraphic {
     background-repeat: no-repeat;
	 height: 300px;
	 width: 300px;
	 float: right;
	 margin: 10px;
}
.hero-text {
	background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .5);
	color: #fff;
	font-size: 16pt;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container, .hero-text  {
		max-width: 768px;
		max-height: auto;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 5vh;
		 	}
.container h1 {
		font-size: 1em;
		}
.container h2 {
		font-size: 2em;
		display: block;
		border-bottom: 1px solid #ccc;
		padding: 0;
		}		
.container h3 {
		font-size: 2em;
		display: block;
		border-bottom: 1px solid #ccc;
		padding: 0;
		margin:0;
		} 
.top {
		margin: 0;
		}
/* End Container */

/* Start Logo */
.logo {
  float: left;
  max-width: 350px;
  height: auto;
  margin-top: 20px;
  margin-left: 4em;
}

.logo a{text-decoration:none;}
.logo a:click {text-decoration:none;}
.logo h1 {
  font-size: 2.25em;
  color:#fff;
  text-decoration: none;
  margin: 0;
  margin-left: -5px;
}
.logo h2 {
  font-size: .75em;
  color:#000;
  text-align:center;
  margin-top: -5px;
}
.logo h3 {
  font-size: .85em;
  color:#fff;
}
.logotitle {
	float: right;
	}
/* End Logo */

/* Start Navigation */
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #000;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
  /* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.top-nav {
  float: right;
  width: 100%;
  text-align: right;
}
.header-main {
  padding: 1em 0em 1em 0em;
}
.top-nav ul {
  list-style: none;
  padding: 0.6em 0em 0em 0em;
}
.top-nav ul li {
  display: inline-block;
}
.top-nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 1.05em;
	padding:0.5em 0.5em;
	position:relative;
	z-index: 999;
}
.top-nav ul li a:hover,.top-nav ul li a.active{
	color:#000;
}
/* End Navigation */

/* Start Banner */
.banner {
  background: url(../img/1.jpg)no-repeat;
  min-height:  768px;
  max-height: auto;
  background-size: cover;
  margin-bottom: -50px;
}
.banner-two {
  background: url(../img/1.jpg)no-repeat;
  min-height:160px;
  background-size: cover;
}
/* End Banner */

/* Start Footer */

.footer {
	background: #000;
	padding: 1em;
	text-align: center;
	height: 22vh;
	max-height: 30vh;
	margin-bottom: 0;
	}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
/* Crafted by Justin Schnees jschnees.com */